.parallax-window {
    height: 300px;
    background: transparent;
}

.menu {
    border: 1px solid #ccc;
}

.menu-item{
    float: right;
    padding: 20px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.menu-item:hover {
    color: #fff;
    background-color: #333;
    text-decoration: none;
}

.gradient {
    height: 20px;
    background-image: linear-gradient(#aaa, #fff);
}

.image {
    text-align: right;
}

.image img{
    max-height: 400px;
}

.main{
    padding: 40px 0;
}

.col{
    padding: 40px 60px;
}

.footer{
    font-size: 13px;
    padding: 20px;
    margin-left: 5px;
}